node_modules
dist
web/node_modules/
web/dist/
web/coverage/
web/.vite/
/release/
coverage
.vite/
out/
/build/icon-source.png
/build/icons/*
!/build/icons/icon.png
!/build/icons/icon.ico
!/build/icons/icon.icns
.codex
/articles/
/md2wechat
/md2wechat.exe
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
